:root {
  font-family: 'Indie Flower', cursive;
  margin-top:-6px;
  padding-top:0;
}

section {
  min-height: 100vh;
  overflow: hidden;
}

.hide {
  opacity: 0;
  filter: blur(30px);
  transition: ease-out 1s;
  transition-delay:0ms;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0%); 
  background-color: rgba(26, 26, 26, 0.6);
  min-height: 100vh;
  min-width: 100vw;
}
